<div
    class="datatable-pagination-inner"
    [ngClass]="{'selected-count': selectedMessage}"
    [style.height.px]="paginationHeight">
    <ng-template
        *ngIf="paginationTemplate"
        [ngTemplateOutlet]="paginationTemplate.template"
        [ngTemplateOutletContext]="{ 
            rowCount: rowCount, 
            pageSize: pageSize, 
            selectedCount: selectedCount,
            curPage: curPage,
            offset: offset
        }">
    </ng-template>
    <datatable-pager *ngIf="!paginationTemplate"
        [pagerLeftArrowIcon]="pagerLeftArrowIcon"
        [pagerRightArrowIcon]="pagerRightArrowIcon"
        [pagerPreviousIcon]="pagerPreviousIcon"
        [pagerNextIcon]="pagerNextIcon"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!isVisible"
        (change)="page.emit($event)">
    </datatable-pager>
    <div class="page-count" *ngIf="!paginationTemplate">
        <span *ngIf="selectedMessage">
            {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
        </span>
        Showing {{startRow}} to {{endRow}} of {{rowCount}} {{totalMessage}}
    </div>
</div>
