<div
visibilityObserver
(visible)="recalculate()">
    <datatable-pagination
    *ngIf="paginationTop"
    [rowCount]="rowCount"
    [pageSize]="pageSize"
    [offset]="offset"
    [paginationHeight]="paginationHeight"
    [paginationTop]="paginationTop"
    [paginationBottom]="paginationBottom"
    [paginationTemplate]="pagination"
    [totalMessage]="messages.totalMessage"
    [pagerLeftArrowIcon]="cssClasses.pagerLeftArrow"
    [pagerRightArrowIcon]="cssClasses.pagerRightArrow"
    [pagerPreviousIcon]="cssClasses.pagerPrevious"
    [selectedCount]="selected.length"
    [selectedMessage]="!!selectionType && messages.selectedMessage"
    [pagerNextIcon]="cssClasses.pagerNext"
    (page)="onPaginationPage($event)">
    </datatable-pagination>
    <datatable-header
    *ngIf="headerHeight"
    [sorts]="sorts"
    [sortType]="sortType"
    [scrollbarH]="scrollbarH"
    [innerWidth]="innerWidth"
    [offsetX]="offsetX"
    [dealsWithGroup]="groupedRows"
    [columns]="_internalColumns"
    [headerHeight]="headerHeight"
    [reorderable]="reorderable"
    [sortAscendingIcon]="cssClasses.sortAscending"
    [sortDescendingIcon]="cssClasses.sortDescending"
    [allRowsSelected]="allRowsSelected"
    [selectionType]="selectionType"
    (sort)="onColumnSort($event)"
    (resize)="onColumnResize($event)"
    (reorder)="onColumnReorder($event)"
    (select)="onHeaderSelect($event)"
    (columnContextmenu)="onColumnContextmenu($event)">
    </datatable-header>
    <datatable-body
    [groupRowsBy]="groupRowsBy"
    [groupedRows]="groupedRows"
    [rows]="_internalRows"
    [groupExpansionDefault]="groupExpansionDefault"
    [scrollbarV]="scrollbarV"
    [scrollbarH]="scrollbarH"
    [loadingIndicator]="loadingIndicator"
    [externalPaging]="externalPaging"
    [rowHeight]="rowHeight"
    [rowCount]="rowCount"
    [offset]="offset"
    [trackByProp]="trackByProp"
    [columns]="_internalColumns"
    [pageSize]="pageSize"
    [offsetX]="offsetX"
    [rowDetail]="rowDetail"
    [groupHeader]="groupHeader"
    [selected]="selected"
    [innerWidth]="innerWidth"
    [bodyHeight]="bodyHeight"
    [selectionType]="selectionType"
    [emptyMessage]="messages.emptyMessage"
    [rowIdentity]="rowIdentity"
    [rowClass]="rowClass"
    [selectCheck]="selectCheck"
    [displayCheck]="displayCheck"
    (page)="onBodyPage($event)"
    (activate)="activate.emit($event)"
    (rowContextmenu)="onRowContextmenu($event)"
    (select)="onBodySelect($event)"
    (scroll)="onBodyScroll($event)">
    </datatable-body>
    <datatable-pagination
    *ngIf="paginationBottom"
    [rowCount]="rowCount"
    [pageSize]="pageSize"
    [offset]="offset"
    [paginationHeight]="paginationHeight"
    [paginationTop]="paginationTop"
    [paginationBottom]="paginationBottom"
    [paginationTemplate]="pagination"
    [totalMessage]="messages.totalMessage"
    [pagerLeftArrowIcon]="cssClasses.pagerLeftArrow"
    [pagerRightArrowIcon]="cssClasses.pagerRightArrow"
    [pagerPreviousIcon]="cssClasses.pagerPrevious"
    [selectedCount]="selected.length"
    [selectedMessage]="!!selectionType && messages.selectedMessage"
    [pagerNextIcon]="cssClasses.pagerNext"
    (page)="onPaginationPage($event)">
    </datatable-pagination>
</div>
